form {
	margin: 150px auto;
	background: #EEE;
	border: 2px solid #CCC;
	width: 450px;

}

form label {
	margin: 10px 20%;
	display: block;
	width :400px;
}

form label span {
	display: inline-block;
	width: 100px;
	font-size: 15pt;
}
 form label input {
 	padding: 2px;
 	font-size: 15px;
 }
form p {
	margin-left: 20%;
	font-size: 15pt;
}

form ul {
	list-style: none;

}
.submit {
	margin: 10px 20%;
	font-size: 14pt;
	
	
}

form ul li {
	margin: 5px 30%;
	font-size: 15pt;
	
}
